[Unit]
Description=Gunicorn instance para servir la aplicación Asociación
After=network.target

[Service]
User=asociacion
Group=www-data
WorkingDirectory=/home/asociacion/asociacion_vps
EnvironmentFile=/home/asociacion/asociacion_vps/.env
Environment="PATH=/home/asociacion/asociacion_vps/venv/bin"
ExecStart=/home/asociacion/asociacion_vps/venv/bin/gunicorn \
          --config /home/asociacion/asociacion_vps/gunicorn_config.py \
          wsgi:app

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

